body {
    background-color: #000;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    white-space: pre;
    text-align: center;
}
